.row-fluid
  .span12.pagination-centered
    %br
    %br
    %h1 Search city and town documents
    %form.navbar-form.form-search{:action => "/documents/search"}
      .input-append
        %input.input-xxlarge.search-query{:placeholder => "Like: Building Permits, Pensions, Budgets, Meetings, School Boards", :type => "text", :name => "q"}/
        %button.btn{:type => "submit"} Search

  .span12
    %br
    %br
    %br

.row-fluid
  .span4
    %h3 Perform Research
    .well
      %p
        Research
        = link_to 'leash law ordinances,', '/documents/search?q=leash+law'
        = link_to 'post pension benefit plans,', '/documents/search?q=pension'
        (OPEB),
        = link_to 'energy savings', '/documents/search?q=energy+savings'
        (ESCO) and other legislative documents like
        = link_to 'Select Board', '/documents/search?q=select+board'
        and
        = link_to 'City Council', '/documents/search?q=city+council'
        = link_to 'meeting minutes,', '/documents/search?q=meeting+minutes'
        = link_to 'agendas,', '/documents/search?q=agenda'
        = link_to 'crime reports.', '/documents/search?q="crime"'
  .span4
    %h3 Stay Informed
    .well
      %p
        Stay informed about timely, relevant information in local government.
        = link_to 'Create a FREE search alert', "/search_alerts"
        for a specific city or state. Monitor
        = link_to 'new paving projects', '/documents/search?q=paving+project'
        changes to
        = link_to 'ordinances', '/documents/search?q=ordinances'
        and
        = link_to 'capital improvement projects.', '/documents/search?q=capital+improvement'
  .span4
    %h3 About Public Post
    .well
      %p
        Public Post is a project of
        =link_to 'VPR News.', 'http://vpr.net'
        This web application is used by VPR's Public Post Reporter Amy Kolb Noyes to report on news from Vermont cities and towns.
        =link_to "Follow Amy's reporting at VPR.net", "http://digital.vpr.net/people/amy-kolb-noyes"
        and on
        =link_to "Twitter", "https://twitter.com/amykolbnoyes"
        or
        =link_to "contact VPR", "http://www.vpr.net/inside_vpr/contact_us/?subject=Public+Post"
        if you have questions or feedback.
