.row
  .span12.hero-unit
    %h1
      = "#{@name} (#{@entities.size})"
.row
  .span3
    %h2 Places
    %hr
    %ul
      - for place in @places
        %li= place.first.full_name
  .span3
    %h2 Documents
    %hr
    %ul
      - for doc in @documents
        %li= link_to doc.likely_date, document_path(doc.guid)
  .span3
    %h2 Terms
    %hr
    %ul
      %li
        %h1 Social Media
      %li
        %h3 Policy
      %li
        %p Low Freq City
  .span3
    %h2 Similar
    %hr
    %ul
      %li
        %h1 Facebook
      %li
        %h3 Stumble Upon
      %li
        %p Low Freq City