%header.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to("#{image_tag("VPR_Square2.jpg")}".html_safe, "http://www.vpr.net/", class: 'brand', style: 'width:160px;position:relative;top:4px')
      %nav
        %ul.nav
          = "<li>#{link_to('Public Post', root_path)}</li>".html_safe
          = nav_link_to('Documents', documents_path, false)
          = nav_link_to('Cities & Towns', municipalities_path, false)
          = nav_link_to('Alerts', search_alerts_path, false)
          %li
            - if current_user.nil?
              = link_to 'Sign in', '/users/sign_in'
            - else
              = link_to "#{current_user.display_name}... (Sign out)", '/users/sign_out', :method => :delete
      - if display_search_box?
        %form.navbar-form.pull-right.form-search{:action => "/documents/search"}
          .input-append
            %input.search-query{:placeholder => "Building Permits, Pensions, Budgets, Meetings, School Boards", :type => "text", :name => "q"}/
            %button.btn{:type => "submit"} Search
